<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My Beer List</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
</head>
<body class="openingPage">
  <h1 class="red container heading">The Beer List!</h1>
    <form class="form-horizontal" action="/login" method="post">
      <div class="form-group container">
        <label for="inputEmail" class="col-lg-2 control-label">Email/Username</label>
          <div class="col-lg-10">
            <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email/Username">
          </div>
      </div>
        <div class="container">
          <label for="inputPassword" class="col-lg-2 control-label">Password</label>
          <div class="col-lg-10">
            <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>
          <div class="container">
            <div>
              <button type="submit" class="btn-floating btn-large waves-circle red">Login</button>
            </div>
        </div>
    </form>
    <div>
      <p class="container"><span class="okay">Not a member? </span><a href="/signup">Sign Up!</a></p>
    </div>
    <div class="video-container container">
      <iframe width="853" height="480" src="//www.youtube.com/embed/6fDbSnfHJFc" frameborder="0" allowfullscreen></iframe>
    </div>
    <footer class="page-footer red">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">The Beer List</h5>
            <p class="grey-text text-lighten-4">More coming soon! Like this site? Show your friends! DRINK RESPONSIBLY</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://github.com/mcabz27">Github</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2016 Made By Matt Cabezon
        </div>
      </div>
    </footer>
<script src="/js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
