<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Your Saved Beers</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
</head>
<body>
<div class="navbar-fixed">
  <nav class="red">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">The Beer Forum</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        {{#user}}
          <li><a href="/members/{{user.id}}">Back to the Top</a></li>
        {{/user}}
        <li><a href="/search">Search a Beer</a></li>
        <li><a href="/posts">Post Page</a></li>
      </ul>
    </div>
  </nav>
</div>
<h1 class="container">Here are your beers</h1>
<div class="row container">
      {{#beer}}
      <div class="red hoverable">
      <h4>
        Beer Name: {{name}}<br>
        What you thought: {{description}}<br>
<!--         Availability: {{availability}}<br>
 -->        Questions on Beer: {{style}}
      </h4>
          <form method="POST" action="/beers/{{id}}?_method=DELETE">
          <a href="">
            <button type="submit" class="waves-effect waves-light btn"><i class="medium material-icons">delete</i>DELETE BEER</button>
          </a>
        </form>
        <form method="POST" action="/updatebeer/{{id}}?_method=PUT">
          <input name="description" id="description input_text" length="255" placeholder="Type here to update what you thought">
          <button type="submit" class="waves-effect waves-light btn"><i class="small material-icons">chat_bubble</i>UPDATE</button><br>
        </form>
        <hr>
      </div>
      {{/beer}}
  </div>
<footer class="page-footer red">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">More coming soon!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/mcabz27">Github</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Made By Matt Cabezon
    </div>
  </div>
</footer>
<script src="/js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
