<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Beers!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
</head>
<body>
<div class="navbar-fixed">
  <nav class="red">
    <div class="nav-wrapper">
      <a href="/posts" class="brand-logo right">The Beer List</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/posts">Back to the Top</a></li>
        <li><a href="/search">Search a Beer</a></li>
        {{#user}}
          <li><a href="/members/{{user.id}}">My Beers</a></li>
          <li><a href="/logout">LOGOUT</a></li>

        {{/user}}
      </ul>
    </div>
  </nav>
</div>
  <h2 class="container">Check what people are drinking! </h2>
  <div class="beerWorld container col s6 red">
    {{#beers}}
      <div class="highlight">
        <span>Beer Name:</span> {{name}}<br>
        <span>Beer Description:</span> {{description}}<br>
        <span>User Opinions:</span> {{style}}
        <hr>
      </div>
    {{/beers}}
  </div>
  <footer class="page-footer red">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">The Beer List</h5>
          <p class="grey-text text-lighten-4">More coming soon! Like this site? Show your friends! DRINK RESPONSIBLY</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li class="highlight"><a class="grey-text text-lighten-3" href="https://github.com/mcabz27">Github</a></li>
            <li class="highlight"><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/matthew-cabezon">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2016 Made By Matt Cabezon
      </div>
    </div>
  </footer>
<script src="/js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
