<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Search a Beer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
</head>
<body>
<div class="navbar-fixed">
  <nav class="red">
    <div class="nav-wrapper">
      <a href="/posts" class="brand-logo right">The Beer List</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/search">Back to the Top</a></li>
        <li><a href="/posts">Post Page</a></li>
        {{#user}}
          <li><a href="/members/{{user.id}}">My Beers</a></li>
          <li><a href="/logout">LOGOUT</a></li>
        {{/user}}
      </ul>
    </div>
  </nav>
</div>
  <h2 class="container">Search for a beer!!!</h2>
  <div class="container showme">
    <form class="pure-form">
      <input id="beer_entered" type="text" class="autocomplete" placeholder="SEARCH HERE!">
      <button id="submit_button" type="submit" class="btn-floating btn-large waves-effect waves-light red"><i class="medium material-icons">search</i></button>
    </form>
  </div>
  <div class="row container col s7 red">
    <p id="allbeer"></p>
    <p id="description"></p>
    <p id="organic"></p>
    <p id="website"><a id="web">Click for Beer Website!</a></p>
    <img id="theimage">
  </div>
  <div class="row searchBox container">
    <div class="col s6 red searches">
      {{#beers}}
        Beer Name: {{name}}<br>
        Beer ID: {{id}}<br>
        Description: {{description}}<br>
        <hr>
      {{/beers}}
    </div>
    <div class="col s6 searching hoverable red searchBox">
    <h4>Save the beer how you like</h4>
      <form method="POST" action="/postpage">
        Beer Name:<input name="name" id="name"><br>
        Description on the beer:<input name="description" id="description imput_text" length="255"><br>
        Questions/Opinions on the Beer:<input name="style" id="style"><br>
        <button type="submit" class="waves-effect waves-light green"><i class="small material-icons">input</i>
Submit</button>
      </form>
    </div>
  </div>
<!--   INPUT/FORMS FOR SAVING BEER. BY NAME/SHORT DESCRIPT
 -->
<footer class="page-footer red">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">The Beer List</h5>
        <p class="grey-text text-lighten-4">More coming soon! Like this site? Show your friends! DRINK RESPONSIBLY</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/mcabz27">Github</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Made By Matt Cabezon
    </div>
  </div>
</footer>
<script src="/js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
