<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Search a Beer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
</head>
<body>
<div class="navbar-fixed">
  <nav class="red">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/search">Back to the Top</a></li>
        <li><a href="/posts">Post Page</a></li>
      </ul>
    </div>
  </nav>
</div>
  <h2 class="container">Search for a beer!</h2>
  <div class="row container searchBox">
    <div class="col s6">
      {{#beers}}
        {{name}}<br>
      {{/beers}}
    </div>
    <div class="col s6 searching">
      <div class='red searchBox'>
        <form method="POST" action="/postpage">
          Beer Name:<input name="name" id="name"><br>
          Alcohol By Volume:<input name="alc_by_volume" id="abv"><br>
          Description:<input name="description" id="description"><br>
          Availability:<input name="availability" id="availability"><br>
          Type of Beer:<input name="style" id="style"><br>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
<!--   INPUT/FORMS FOR SAVING BEER. BY NAME/ABV/SHORT DESCRIPT
 -->
    <footer class="page-footer red">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2016 Made By Matt Cabezon
        </div>
      </div>
    </footer>
<script src="/js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
