<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Search a Beer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h2>Search a beer!</h2>
  <form class="container">
    <input id="beerSearch" type="text">
    <button id="submitButton" type="submit" class ="waves-effect waves-light btn">Search</button>
  </form>
  <div class="row container">
    <div class="col s6">
      <p id="allBeer"></p>
      <p id="abv"></p>
      <p id="description"></p>
      <p id="foods"></p>
    </div>
    <div class="col s6">
      <p>Would you like to save this beer? Enter how you want it saved!</p>
    </div>
  </div>

<!--   INPUT/FORMS FOR SAVING BEER. BY NAME/ABV/SHORT DESCRIPT
 -->


<script src="/js/jquery.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
